export AZURE_OPENAI_ENDPOINT=<your_azure_openai_endpoint>
export AZURE_OPENAI_APIKEY=<your_api_key>
export AZURE_OPENAI_CHATDEPLOYMENTID=<deployment_id_of_chat_model>
export AZURE_OPENAI_EMBEDDINGDEPLOYMENTID=<deployment_id_of_embedding_model>
export VECTORSTORE_FILE=doc_store.json