export AZURE_OPENAI_ENDPOINT=<your_azure_openai_endpoint>
export AZURE_OPENAI_APIKEY=<your_api_key>
export AZURE_OPENAI_CHATDEPLOYMENTID=gpt-35-turbo
export AZURE_OPENAI_EMBEDDINGDEPLOYMENTID=text-embedding-ada-002
export VECTORSTORE_FILE=doc_store.json